<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- add something about no wrap on text fields -->
<style>
.mainWindow {
    overflow: auto;
    max-height: 98vh;
}

.album {
    width:64px;
    height:64px;
    margin: 4;
}
</style>

<div class="mainWindow">
    <table>
        <thead>
            <tr>
            {{#each fields}}
                <th>{{this}}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>

        {{#each data as |value key|}}
            <tr>
            {{#each value as |val2 key2|}}
                <td>{{val2}}</td>
            {{/each}}
            </tr>
        {{/each}}
        
        </tbody>
    </table>
</div>