<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- add something about no wrap on text fields -->
<style>
body {
    background-color: #333333;
}
.mainWindow {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    max-height:95vh;
    background-color: #333333;
    margin: 0;
    padding: 0;
}

.mainWindow table{
    color: #FFFFFF;
}

.mainWindow table a {
    color: #DDDDDD;
}

.album {
    width:64px;
    height:64px;
    margin: 4;
}
</style>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css" />
<body>
<div class="mainWindow">
    <table>
        <thead>
            <tr>
            {{#each fields}}
                <th>{{this}}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>

        {{#each data as |value key|}}
            <tr>
            {{#each value as |val2 key2|}}
                <td>{{{val2}}}</td>
            {{/each}}
            </tr>
        {{/each}}
        
        </tbody>
    </table>
</div>
</body>
