<script>
    const userID = {{userID}};
</script>



<label for="from">from:</label><input id="from" type="datetime-local">
<br>
<label for="to">to:</label><input id="to" type="datetime-local">
<br>
<div id="submit" class="btn btn-blue">
    <div class="flex-container">
        <div>
            submit
        </div>
    </div>
</div>
<br><br>

<script src="public/js/timemachine.js"></script>



<iframe id="display" src="" height="400" width="66%"></iframe>